* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(9, 255, 0);
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*opacity: 0 (lo hace invisble pero aun ocupa espacio)*/
.content-celular {
    opacity: ;
}

/*color: transparent (lo hace invisble pero aun ocupa espacio)*/
.content-pc {
    color: ;
}

/*display none: elimina un elemento html del archivo css haciendo que desaparezca y ajustando su espacio al contenido*/
.content-celular {
    display: ;
}



/*media querie(consulta de medios): mientras el ancho sea como max de 480 px agrega las siguientes propiedades*/
@media(max-width: 480px) {
    body {
        background-color: rgb(0, 229, 255);
    }

    .content-pc {
        display: none;
    }
}

@media(min-width: 481px) {
    body {
        background-color: deeppink;
    }

    .content-celular {
        display: none;
    }
}