* {
    padding: o;
    margin: 0;
    box-sizing: border-box;
}


/*variables: reserva en la memoria de mi pc*/
/*root: raiz*/
:root { 
--black: hsl(212, 21%, 14%);
--grey: hsl(228, 12%, 48%);
--cream: hsl(30, 38%, 92%);
--white: hsl(0, 0%, 100%);
--green500: hsl(158, 36%, 37%);
--green700: hsl(158, 42%, 18%);
}

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
}

.description {
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    height: 400px;
    width: 300px;
    border: 5px solid white;
}

#imagen-principal {
    max-width: 300px;
    height: 400px;
    border-radius: 10px 0px 0px 10px;
}

h3{
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10px 30px 5px 30px;
    font-size: small;
    font-weight: 200;
    color: gray;
}


h2{
    font-size: xx-large;
    margin: 10px 30px;
    padding: 10px;
    line-height: 30px;
}

.description p {
    font-size: 14px;
    margin: 10px 30px 10px 40px;
    line-height: 20px;
    color: grey;
    font-family:"montserrat" ;
    font-weight: 500;
}

.price{
    display: flex;}

    #origin{
        text-decoration: line-through;
        color:  hsl(212, 21%, 14%);
        margin-left: 10px;
        color: var(--grey)
    }

    #discount{
        color:hsl(158, 36%, 37%);
        font-size: 30px;
        margin-right: 20px;
        font-family: "fraunces";
        font-weight: 700;
   
    }

    button{
        background-color:var(--green700);
        margin: 20px 80px;
        padding: 5px;
        border-radius: 5px;
        border: none;
        width: 150px;
        height: 30px;
        color: var(--white);
    }
button img {
    margin: 0px 10px;
    width:10px ;
}