* {
    padding: o;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: rgba(250, 229, 203, 0.99);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
}

.description {
    background-color: white;
    border-radius: 0px 10px 10px 0px;
    height: 400px;
    width: 300px;
    border: 5px solid white;
}

#imagen-principal {
    max-width: 300px;
    height: 400px;
    border-radius: 10px 0px 0px 10px;
}

h3{
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10px 30px 5px 30px;
    font-size: small;
    font-weight: 200;
    color: gray;
}


h2{
    font-size: xx-large;
    margin: 10px 30px;
    padding: 10px;
    line-height: 30px;
}

.description p {
    font-size: 15px;
    margin: 10px 30px 10px 40px;
    line-height: 20px;
    color: grey;
}

.price {
    display: flex;
    justify-content: space-evenly;
}

.price p { 
    text-decoration: line-through;
    font-family: sans-serif;
    font-weight: bold;
    font-size: ;
}
