* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: rgb(9, 255, 0);
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*opacity: 0 (lo hace invisble pero aun ocupa espacio)*/
.content-celular {
    opacity: 0 ;
}

/*color: transparent (lo hace invisble pero aun ocupa espacio)*/
.content-pc {
    color: transparent;
}
body{
    background-color: blue;
}




/*display none: elimina un elemento html del archivo css haciendo que desaparezca y ajustando su espacio al contenido*/
.content-celular {
    display: none ;
}

@media(max-width:880px){
    body{
        background-color: gold;}
        h1{
            color: brown;
            text-align: center;
            transform: rotate(180deg);
        }
        .container{
            border-radius: 30px;
            border:30px;
        }
    }


/*media querie(consulta de medios): mientras el ancho sea como max de 480 px agrega las siguientes propiedades*/
@media(max-width: 480px) {
    body {
        background-color: rgb(0, 229, 255);
    }
    .container{
        border-radius: 0;
    }
    h1{
        text-align: center;
        font-weight: bold;
        color: white;
        transform: rotate(0deg);
    }
    .content-celular{
        display: block;
        text-align: center;
        font-size: larger;
        font-style: italic;
        color: hotpink;
        
    }
    .content-pc {
        display: none;
    }
}
